body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 2rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

h2 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
