<h1>{{name}} (Monster)</h1>

<p><strong>Ferocity:</strong> {{ferocity}}</p>
<p><strong>Size:</strong> {{size}}</p>
<p><strong>Move:</strong> {{move}}</p>
<p><strong>Armor:</strong> {{armor}}</p>
<p><strong>HP:</strong> {{hp}}</p>

{{#skills}}
<p><strong>Skill:</strong> {{name}} — Level {{level}}</p>
{{/skills}}

<h2>Attacks</h2>
<table>
  <tr>
    <th>D6</th>
    <th>Attack</th>
  </tr>
  {{#attacks}}
  <tr>
    <td>{{result}}</td>
    <td><b>{{name}}!</b> {{description}}</td>
  </tr>
  {{/attacks}}
</table>

{{#effects}}
<h2>Effects</h2>
<ul>
  {{#effects}}
  <li><strong>{{name}}:</strong> {{description}}</li>
  {{/effects}}
</ul>
{{/effects}}

{{#tags}}
<p><strong>Tags:</strong> {{.}}</p>
{{/tags}}
