<h2><strong>NPC</strong></h2>
<h1>{{name}}</h1>

<p><strong>Size:</strong> <span class="capitalized">{{size}}</span></p>
<p><strong>Move:</strong> {{move}}</p>
<p><strong>HP:</strong> {{hp}}</p>

{{#if skills}}
<p>Skills:</p>
<ul>
  {{#each skills}}
    <li><span class="capitalized">{{name}}</span> ({{level}})</li>
  {{/each}}
</ul>
{{/if}}

{{#if armors}}
<h2>Armors</h2>
<ul>
  {{#each armors}}
    <li>{{name}} ({{rating}})</li>
  {{/each}}
</ul>
{{/if}}

{{#if abilities}}
<h2>Abilities</h2>
<ul>
  {{#each abilities}}
    <li>{{this}}</li>
  {{/each}}
</ul>
{{/if}}

{{#if spells}}
<h2>Spells</h2>
<ul>
  {{#each spells}}
    <li>{{this}}</li>
  {{/each}}
</ul>
{{/if}}

{{#if effects}}
<h2>Effects</h2>
<ul>
  {{#each effects}}
    <li><strong>{{name}}:</strong> {{description}}</li>
  {{/each}}
</ul>
{{/if}}
